<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <title>DATA Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../oneezy-js.css">

    <style>
            
        main        { background: transparent; margin: 0 2rem 2rem !important; }
        section     { display: flex; flex-direction: column; width: 22%; background: white; margin: 1rem; padding: 1rem; }
        strong      { display: inline-block; min-width: 80px; }
        button      { margin: 1rem 0; }
        h2          { margin: 1rem 0; }
        p           { font-size: 14px; text-align: justify; }
        h1 a        { color: skyblue; }

        .CodeMirror { height: auto; }
        .wrapper    { width: 100%; background: transparent; }
        
    </style>
  </head>
  
  <body class="mdc-typography">

    <!-- DATA Event
    --------------------------------------------- -->
    <h1 class="flex-horizontal between-center">DATA Event<a href="http://www.oneezy.com" target="_blank" id="wwwONEEZY">Oneezy</a></h1>
    
    
    <main class="flex-vertical start-start wrap">

        <!-- DATA Closest
        =============================== -->
        <h2 class="margin-t-3 margin-l-3 padding-t-3">Data Closest</h2>

        <div class="wrapper flex-horizontal start-start wrap">

                <!-- Click -->
                <section data-code="htmlmixed">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-event="click" 
                        data-event--closest="section" 
                        data-event--class="bg-green">Click Closest (add class)
                </button>
                </section>

                <!-- Click Toggle -->
                <section data-code="htmlmixed">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-event="click-toggle" 
                        data-event--closest="section" 
                        data-event--class="bg-green">Click Closest (toggle class)
                </button>
                </section>

                <!-- Hover -->
                <section data-code="htmlmixed">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-event="hover" 
                        data-event--closest="section" 
                        data-event--class="bg-green">Hover Closest (add class)
                </button>
                </section>

                <!-- Hover Toggle -->
                <section data-code="htmlmixed">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-event="hover-toggle" 
                        data-event--closest="section" 
                        data-event--class="bg-green">Hover Closest (toggle class)
                </button>
                </section>
        </div>


        <!-- DATA Target
        =============================== -->
        <h2 class="margin-t-3 margin-l-3 padding-t-3">Data Target</h2>
        
        <div class="wrapper flex-horizontal start-start wrap">

                <!-- Click -->
                <section data-code="htmlmixed">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-event="click" 
                        data-event--target="section" 
                        data-event--class="bg-green">Click target (add class)
                </button>
                </section>

                <!-- Click Toggle -->
                <section data-code="htmlmixed">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-event="click-toggle" 
                        data-event--target="section" 
                        data-event--class="bg-green">Click target (toggle class)
                </button>
                </section>

                <!-- Hover -->
                <section data-code="htmlmixed">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-event="hover" 
                        data-event--target="section" 
                        data-event--class="bg-green">Hover target (add class)
                </button>
                </section>

                <!-- Hover Toggle -->
                <section data-code="htmlmixed">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-event="hover-toggle" 
                        data-event--target="section" 
                        data-event--class="bg-green">Hover target (toggle class)
                </button>
                </section>
        </div>

        <!-- DATA Auto Click
        =============================== -->
        <h2 class="margin-t-3 margin-l-3 padding-t-3">Data Auto</h2>
        <div class="wrapper flex-horizontal start-start wrap">

        <!-- Auto Click -->
        <section data-code="htmlmixed">
                <div class="flex-horizontal between-base" 
                data-event="change" 
                data-event--action="click" 
                data-event--target="#numberID" 
                data-event--action-target="#wwwGOOGLE">

                        <!-- MDC Input -->
                        <div class="mdc-textfield-wrapper" 
                        data-input--class="mdc-textfield__input mdc-textfield--dense change-me" 
                        data-input--type="number"
                        data-input--min="1"
                        data-input--max="10">

                                <input id="numberID" type="input-type-that-gets-REPLACED">
                                <a href="https://www.google.com" id="wwwGOOGLE" target="_blank">Google</a>
                        </div>

                </div>
        </section>
        

        <!-- Auto Click -->
        <section data-code="htmlmixed">
                <div class="flex-horizontal between-base" 
                data-event="change" 
                data-event--action="click" 
                data-event--target="#someID" 
                data-event--action-target="#wwwONEEZY">

                        <!-- MDC Input -->
                        <div class="mdc-textfield-wrapper" 
                        data-input--class="mdc-textfield__input mdc-textfield--dense change-me" 
                        data-input--type="text"
                        data-label--text="Change Me">

                                <input id="someID" type="input-type-that-gets-REPLACED">
                        </div>

                </div>
        </section>

        </div>
    </main>

    <script src="../oneezy-js.js"></script>
    </body>
</html>
