/* Reset Styles
========================================================================= */
* { box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; }

input[type=number] { text-align: center; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { opacity: 1; }

html,
body,
main { display: flex; flex-direction: column; min-height: 100%; background: #f2f2f2; }
main { padding: 5%; }
article { margin: 2rem 0; padding: 1rem 3rem 3rem; background: #fff; }
h1 { background: black; color: white; padding: .25rem 1rem; position: fixed; top: 0; width: 100%; z-index: 1; }
h1 span { font-weight: normal; font-size: 16px; position: absolute; right: 24px; top: 14px; display: inline-block; text-transform: uppercase; }
h2 { margin: 2rem 0 1rem; }
h5 { margin: 2rem 0 1rem; }
pre { display: inline-block; font-family: "Courier New", Courier, monospace; color: gray; }