/* Root Styles
========================================================================= */
:root {
    --mdc-theme-primary: #212121;
    --mdc-theme-primary-light: #686868;
    --mdc-theme-primary-dark: #454545;
    --mdc-theme-secondary: #64dd17;
    --mdc-theme-secondary-light: #8ced4f;
    --mdc-theme-secondary-dark: #479c10;
    --mdc-theme-background: #fff;
    --mdc-theme-text-primary-on-primary: white;
    --mdc-theme-text-secondary-on-primary: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-primary: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-primary: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-primary: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-primary-on-primary-light: white;
    --mdc-theme-text-secondary-on-primary-light: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-primary-light: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-primary-light: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-primary-light: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-primary-on-primary-dark: white;
    --mdc-theme-text-secondary-on-primary-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-primary-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-primary-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-primary-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-primary-on-secondary: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-secondary: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-secondary: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-secondary: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-secondary: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-secondary-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-secondary-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-secondary-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-secondary-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-secondary-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-secondary-dark: white;
    --mdc-theme-text-secondary-on-secondary-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-secondary-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-secondary-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-secondary-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

/* Reset Styles
========================================================================= */
* { box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; }

input[type=number] { text-align: center; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { opacity: 1; }

html,
body,
main { display: flex; flex-direction: column; height: 100%; background: #f2f2f2; }
main { padding: 5%; }
article { margin: 2rem 0; padding: 1rem 3rem 3rem; background: #fff; }
h1 { background: black; color: white; padding: .25rem 1rem; position: fixed; top: 0; width: 100%; z-index: 1; }
h1 span { font-weight: normal; font-size: 16px; position: absolute; right: 24px; top: 14px; display: inline-block; text-transform: uppercase; }
h2 { margin: 2rem 0 1rem; }
h5 { margin: 2rem 0 0; }
pre { display: inline-block; font-family: "Courier New", Courier, monospace; color: gray; }

.mdc-button { margin: 0 6px 0 0; }