/* Reset Styles
========================================================================= */
* { box-sizing: border-box; margin: 0; padding: 0; text-decoration: none; }
html,
body { min-height: 100%; overflow-x: hidden; }
body { background: #eee; }
main { margin-top: 5rem !important; padding: 2rem 1rem; background: #fff; border-radius: 10px; }
section {  }
article { margin: 2rem 0; padding: 1rem 3rem 3rem; background: #fff; }
h1 { background: black; color: white; padding: .25rem 1rem; position: fixed; top: 0; width: 100%; z-index: 1; }
h1 span { font-weight: normal; font-size: 16px; position: absolute; right: 24px; top: 14px; display: inline-block; text-transform: uppercase; }
h2 { margin: 2rem 0 1rem; }
h5 { margin: 2rem 0 1rem; }
pre { display: inline-block; font-family: "Courier New", Courier, monospace; color: gray; }
img { max-width: 100%; }

input[type=number] { text-align: center; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { opacity: 1; }


.wrapper { background: white; padding: 1rem; }


/* Mobile Mode 
*******************************************************/
@media (min-width: 0) and (max-width: 768px) { 
    .wrapper { width: 100%; margin: 0 auto; }
} 

/* Tablet Mode 
*******************************************************/
@media (min-width: 769px) and (max-width: 1024px) { 
    .wrapper { width: 90%; margin: 0 auto; }
}
    
/* Desktop Mode 
*******************************************************/
@media (min-width: 1025px) { 
    .wrapper { width: 1000px; margin: 0 auto; }
}