<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <title>DATA Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../mdc-css.css">
  </head>
  
  <body class="mdc-typography">

    <!-- DATA Clone
    --------------------------------------------- -->

    <h1>DATA Clone</h1>
    
    <div class="flex-horizontal margin-3">
        <div class="flex-vertical">
            <span data-clone="10">Hello, </span>
        </div>
        <div class="flex-vertical">
            <span data-clone="10">&nbsp;World</span>
        </div>
    </div>
    
    <script src="../mdc-js.js"></script>
    </body>
</html>
