<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <title>MDC Button (Dynamic)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.rawgit.com/oneezy/oneezy-css/1c14f542/oneezy-css.css">
    <link rel="stylesheet" href="../../styles.css">
  </head>
  
  <body class="mdc-typography">
    <h1>MDC Button (Dynamic)</h1>

    <main>
        
        <!-- Default 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <h2>Default</h2>
            
            <section class="flex-horizontal start-center">
                <div class="mdc-button-wrapper">
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper">
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
            </section>
        </article>

        
        <!-- Text 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <h2>Text</h2>
            
            <section class="flex-horizontal start-center">
                <div class="mdc-button-wrapper"
                    data-button--text="Baseline">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--compact"
                    data-button--text="Compact">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--dense"
                    data-button--text="Dense">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--accent"
                    data-button--text="Secondary">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper">
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
                
                <div class="mdc-button-wrapper"
                    data-button--class="flex-horizontal between-center"
                    data-button--text="Button Icon"
                    data-button--icon="add">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper"
                    data-button--class="flex-horizontal between-center"
                    data-button--text="Link Icon"
                    data-button--icon="add">
                    
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
            </section>
        </article>
        
        <!-- Raised 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <h2>Raised</h2>
            
            <section class="flex-horizontal start-center">
                <div class="mdc-button-wrapper"
                    data-button--class="mdc-button--raised"
                    data-button--text="Baseline">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--raised mdc-button--compact"
                    data-button--text="Compact">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--raised mdc-button--dense"
                    data-button--text="Dense">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--raised mdc-button--accent"
                    data-button--text="Secondary">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper"
                    data-button--class="mdc-button--raised">
                    
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--raised flex-horizontal between-center"
                    data-button--text="Button Icon"
                    data-button--icon="add">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--raised flex-horizontal between-center"
                    data-button--text="Link Icon"
                    data-button--icon="add">
                    
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
            </section>
        </article>	
        
        
        <!-- Unelevated 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <h2>Unelevated</h2>
            
            <section class="flex-horizontal start-center">
                <div class="mdc-button-wrapper"
                    data-button--class="mdc-button--unelevated"
                    data-button--text="Baseline">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--unelevated mdc-button--compact"
                    data-button--text="Compact">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--unelevated mdc-button--dense"
                    data-button--text="Dense">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--unelevated mdc-button--accent"
                    data-button--text="Secondary">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper"
                    data-button--class="mdc-button--unelevated">
                    
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--unelevated flex-horizontal between-center"
                    data-button--text="Button Icon"
                    data-button--icon="add">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--unelevated flex-horizontal between-center"
                    data-button--text="Link Icon"
                    data-button--icon="add">
                    
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
            </section>
        </article>
        
        
        <!-- Stroke 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <h2>Stroke</h2>
            
            <section class="flex-horizontal start-center">
                <div class="mdc-button-wrapper"
                    data-button--class="mdc-button--stroked"
                    data-button--text="Baseline">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--stroked mdc-button--compact"
                    data-button--text="Compact">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--stroked mdc-button--dense"
                    data-button--text="Dense">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--stroked mdc-button--accent"
                    data-button--text="Secondary">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper"
                    data-button--class="mdc-button--stroked">
                    
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--stroked flex-horizontal between-center"
                    data-button--text="Button Icon"
                    data-button--icon="add">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
                
                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--stroked flex-horizontal between-center"
                    data-button--text="Link Icon"
                    data-button--icon="add">
                    
                    <a href="javascript:void(0)" id="someLink" class="LinkThatSubmits ThemeLink SubmitThemeLink link link-primary" name="linkSubmit" data-key="Link_Button_string">
                        Link
                    </a>
                </div>
            </section>
        </article>


        <!-- Directional 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <h2>Directional</h2>
            
            <section class="flex-horizontal start-center">
                <div class="mdc-button-wrapper" 
                     data-button--class="mdc-button--unelevated flex-horizontal around-center"
                     data-button--text="horizontal"
                     data-button--icon="add">
                
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>

                <div class="mdc-button-wrapper" 
                     data-button--class="mdc-button--unelevated flex-horizontal-reverse around-center"
                     data-button--text="horizontal reverse"
                     data-button--icon="add">
                    
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>

                <div class="mdc-button-wrapper" 
                data-button--class="mdc-button--unelevated flex-vertical around-center"
                data-button--text="vertical"
                data-button--icon="add">
           
               <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
           </div>

                <div class="mdc-button-wrapper" 
                    data-button--class="mdc-button--unelevated flex-vertical-reverse around-center"
                    data-button--text="vertical reverse"
                    data-button--icon="add">
                
                    <input type="submit" id="btnSubmit" class="ButtonThatSubmits ThemeButton SubmitThemeButton btn btn-primary" name="btnSubmit" value="Submit" data-key="Submit_Button_string">
                </div>
            </section>
        </article>

        
        
    </main>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="mdc-buttons.js"></script>
    <!-- <script src="https://cdn.rawgit.com/oneezy/mdc-components-dynamic/6050dec8/components/mdc-buttons/mdc-buttons.js"></script> -->
 
</html>
