<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <title>MDC Image (Dynamic)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../mdc-css.css">
  </head>
  
  <body class="mdc-typography">

    <!-- MDC Image
    --------------------------------------------- -->

    <h1>MDC Image</h1>

    <main>
        
        <!-- Normal Image
        :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <section class="flex-vertical">
            <h2>Normal Image</h2>

            <div class="flex-horizontal start-center">
                <img src="https://dummyimage.com/200x400/000/fff" class="margin-2">
                <img src="https://dummyimage.com/400x200/000/fff" class="margin-2">
            </div>
        </section>
            
        <!-- MDC Image
        :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <section class="flex-vertical">
            <h2>MDC Image</h2>

            <div class="flex-horizontal start-center">
                <a href="javascript:void(0)" class="mdc-image mobile-size-72 tablet-size-150 desktop-size-200 margin-2">
                    <img src="https://dummyimage.com/200x400/000/fff">
                </a>
                <a href="javascript:void(0)" class="mdc-image mobile-size-72 tablet-size-150 desktop-size-200 margin-2">
                    <img src="https://dummyimage.com/400x200/000/fff">
                </a>
            </div>
        </section>

    </main>

    <script src="../mdc-js.js"></script>
    </body>
</html>
