<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <title>DATA Animate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../oneezy-js.css">

    <style>
            
        main        { background: transparent; margin: 0 2rem 2rem !important; }
        section     { display: flex; flex-direction: column; width: 30%; background: white; margin: 1rem; padding: 1rem; }
        strong      { display: inline-block; min-width: 80px; }
        button      { margin: 1rem 0; }
        h2          { margin: 1rem 0; }
        p           { font-size: 14px; text-align: justify; }

        .CodeMirror { height: auto; }
        
    </style>
  </head>
  
  <body class="mdc-typography">

    <!-- DATA Animate
    ///////////////////////////////////////////////////////////////////////////////// -->

    <h1>DATA Animate</h1>
    
    <!-- DATA Closest
    =============================== -->
    <h2 class="margin-t-3 margin-l-3 padding-t-3">Data Closest</h2>
    <main class="flex-horizontal start-start wrap">
        
        <section data-code="htmlmixed">
            <h2>left</h2>
            <button class="mdc-button mdc-button--primary mdc-button--raised" 
                    data-animate="left" 
                    data-animate--closest="section">left
            </button>
        </section>
            
        <section data-code="htmlmixed">
            <h2>right</h2>
            <button class="mdc-button mdc-button--primary mdc-button--raised" 
                    data-animate="right" 
                    data-animate--closest="section">right
            </button>
        </section>
            
        <section data-code="htmlmixed">
            <h2>up</h2>
            <button class="mdc-button mdc-button--primary mdc-button--raised" 
                    data-animate="up" 
                    data-animate--closest="section">up
            </button>
        </section>
            
        <section data-code="htmlmixed">
            <h2>down</h2>
            <button class="mdc-button mdc-button--primary mdc-button--raised" 
                    data-animate="down" 
                    data-animate--closest="section">down
            </button>
        </section>
            
        <section data-code="htmlmixed">
            <h2>shrink</h2>
            <button class="mdc-button mdc-button--primary mdc-button--raised" 
                    data-animate="shrink" 
                    data-animate--closest="section">shrink
            </button>
        </section>
        
        <section data-code="htmlmixed">
            <h2>grow</h2>
            <button class="mdc-button mdc-button--primary mdc-button--raised" 
                    data-animate="grow" 
                    data-animate--closest="section">grow
            </button>
        </section>

        <!-- DATA Target
        =============================== -->
        <section data-code="htmlmixed">
            <h2>Data Target</h2>
            
            <div class="flex-horizontal start-start wrap">
                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-animate="left" 
                        data-animate--target="section">left
                </button>

                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-animate="right" 
                        data-animate--target="section">right
                </button>

                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-animate="up" 
                        data-animate--target="section">up
                </button>

                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-animate="down" 
                        data-animate--target="section">down
                </button>

                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-animate="shrink" 
                        data-animate--target="section">shrink
                </button>

                <button class="mdc-button mdc-button--primary mdc-button--raised" 
                        data-animate="grow" 
                        data-animate--target="section">grow
                </button>
            </div>
        </section>
    
    </main>

    <script src="../oneezy-js.js"></script>
    </body>
</html>
