<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <title>DATA Code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../mdc-css.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/theme/dracula.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/addon/hint/show-hint.css">

    <style>
    
        main { background: transparent; margin: 4rem 2rem 2rem !important; }
        section { display: flex; flex-direction: column; width: 30%; background: white; margin: 1rem; padding: 1rem; }
        strong { display: inline-block; min-width: 80px; }
        button { margin: 1rem 0; }
        h2     { margin: 1rem 0; }
        p { font-size: 14px; text-align: justify; }

        .CodeMirror { height: auto; }
        
    </style>
  </head>
  
  <body class="mdc-typography">

    <!-- DATA Code
    --------------------------------------------- -->
    <h1>DATA Code</h1>
    
    <main class="flex-horizontal center-center wrap">
        
<!-- <section>
    <h2>Title</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

    <button class="mdc-button mdc-button--primary mdc-button--raised" 
            data-event="click"
            data-event--target="h2"
            data-event--class="click">
            
            Click Here
    </button>

<textarea class="code">
    <h2>Title</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

    <button class="mdc-button mdc-button--primary mdc-button--raised" 
            data-event="click"
            data-event--target="h2"
            data-event--class="click">
            
            Click Here
    </button>
</textarea>
</section> -->






<section data-clone="5" data-code="htmlmixed">
    <h2>Title</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

    <button class="mdc-button mdc-button--primary mdc-button--raised" 
            data-event="click"
            data-event--target="h2"
            data-event--class="click">
            
            Click Here
    </button>
</section>






    </main>

    <script src="../mdc-js.js"></script>
    </body>
</html>
