.mdc-table input[type=number] { text-align: center; }
.mdc-table input[type=number]::-webkit-inner-spin-button, 
.mdc-table input[type=number]::-webkit-outer-spin-button { opacity: 1; }

/* Table
********************************************************************************/
.mdc-table { width: 100%; border-spacing: 0; border-collapse: collapse; }
.mdc-table thead {  }
.mdc-table thead tr { border-bottom: 1px solid #eee; height: 20px; vertical-align: top; }
.mdc-table thead tr th { font-weight: 400; text-transform: uppercase; font-size: 12px; text-align: left; color: var(--mdc-theme-dark-dark); }

.mdc-table tbody {  }
.mdc-table tbody tr { border-bottom: 1px solid #eee; transition: .22s ease-in-out; }
.mdc-table tbody tr td { vertical-align: top; padding: 1rem 0; }

/* Table Widths */
.mdc-table .mdc-table--col-1	 	 		{ text-align: left; }
.mdc-table .mdc-table--col-2	 	 		{ width: 60px; text-align: center; }
.mdc-table .mdc-table--col-3	 	 		{ width: 100px; text-align: right; }
.mdc-table .mdc-table--col-4	 	 		{ width: 100px; text-align: right; }

/* Table Headers */
.mdc-table thead tr th.mdc-table--col-1 	{  }
.mdc-table thead tr th.mdc-table--col-2 	{  }
.mdc-table thead tr th.mdc-table--col-3 	{  }
.mdc-table thead tr th.mdc-table--col-4 	{  }

/* Table Body */
.mdc-table tbody tr td.mdc-table--col-1 	{  }
.mdc-table tbody tr td.mdc-table--col-2	 	{  }
.mdc-table tbody tr td.mdc-table--col-3 	{  }
.mdc-table tbody tr td.mdc-table--col-4 	{ font-weight: 700; }

.mdc-table tbody 	 						{ background: #eee; }
.mdc-table tbody tr  						{ background: #fff; }
.mdc-table tbody tr:hover .mdc-image:after  { opacity: 1; }
.mdc-table tbody tr:hover .mdc-image img    { transform: scale(1.4,1.4); }

/* Link Color */
.mdc-table--body-title a { color: var(--mdc-theme-dark); }


/* Active Button (Details) */
.mdc-table tbody tr.active--action-buttons.active--details { transform: scale(1.1,1.1); padding: 0 1rem; }
.mdc-table tbody tr.active--action-buttons.active--details * { transition: .22s ease-in-out; }
.mdc-table tbody tr.active--action-buttons.active--details .mdc-image { width: 200px !important; height: 200px !important; padding: 0 1rem; }
.mdc-table tbody tr.active--action-buttons.active--details .mdc-table--body-description { display: block; }





/* Mobile Mode 
*******************************************************/
@media (min-width: 0) and (max-width: 768px) { 

	.mdc-table input[type=number] { text-align: center; }
	.mdc-table input[type=number]::-webkit-inner-spin-button, 
	.mdc-table input[type=number]::-webkit-outer-spin-button { opacity: 0; }
	
	/* TABLE
	***********************************************************************/	
	.mdc-table thead,
	.mdc-table thead tr,
	.mdc-table thead tr th 	{ display: none; }
	
	.mdc-table 
	.mdc-table tbody,
	.mdc-table tbody tr,
	.mdc-table tbody tr td 						 {  }
	
	.mdc-table tbody 							 { overflow: hidden; }
	.mdc-table tbody tr 						 { position: relative; z-index: 1; padding: 1rem 0; transition: .22s ease-in-out; z-index: 1; }
	.mdc-table tbody tr td 						 { margin: 0; padding: 0; height: 72px; }
  	.mdc-table tbody tr td[data-title]:before 	 { content: attr(data-title); text-transform: uppercase; text-align: left; font-size: 10px; color: silver; font-weight: 300; }
	
	/* PSEUDO (tr:before, tr:after)
	***********************************************************************/
	.mdc-table tbody tr:before, 
	.mdc-table tbody tr:after 	{ display: inherit; content: ""; width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; z-index: -1; }
	
	.mdc-table tbody tr:before 	{ background: #eee;  transform: translate(-100vw, 0); }
	.mdc-table tbody tr:after  	{ background: var(--mdc-theme-primary); transform: translate(100vw, 0); width: calc(100vw + 1rem); } 
	
	/* ACTIVE (action buttons)
	***********************************************************************/
	.mdc-table tbody tr.active--action-buttons  						  { transform: translate(150px, 0); }
	.mdc-table tbody tr.active--action-buttons .hover-none  			  { display: none; }
	.mdc-table tbody tr.active--action-buttons .mdc-table--body-details   { width: calc(100% - 150px); }
	
	.mdc-table tbody tr.active--action-buttons .mdc-table--body-thumbnail { 
		 position: absolute;
		 top: 0;
		 left: 0;
		 right: 150px;
		 bottom: 0; }
	
	.mdc-table tbody tr.active--action-buttons .mdc-table--body-thumbnail .mdc-image 	 	{ width: 100% !important; height: 100% !important; border-radius: 0; }
	.mdc-table tbody tr.active--action-buttons .mdc-table--body-thumbnail .mdc-image img 	{ transform: scale(1,1); }
	.mdc-table tbody tr.active--action-buttons .mdc-table--button-details 				 	{ transform: translate(0,0); opacity: 1; }
	
	.mdc-table tbody tr .mdc-table--body-action-buttons {
		 position: absolute;
		 top: 0;
		 right: 100%;
		 height: 100%;
		 margin: 0;
		 width: 150px;
		 padding: 0 1rem; }
	
	/* TD Classes */
	.mdc-table tbody tr td.mdc-table--col-1				  	  { overflow: hidden; }
	.mdc-table tbody tr td.mdc-table--col-2				  	  { height: 33%; z-index: -1; position: absolute; top: 0; right: 0; text-align: right; padding: 1rem 0 0; }
	.mdc-table tbody tr td.mdc-table--col-3			  	  	  { height: 33%; z-index: -1; position: absolute; top: 33%; right: 0; text-align: right; font-size: 14px; padding: .75rem 0 0; }
	.mdc-table tbody tr td.mdc-table--col-4			  	  	  { height: 33%; z-index: -1; position: absolute; top: 66%; right: 0; text-align: right; font-size: 14px; padding: .25rem 0 0; }
	
	.mdc-table tbody tr td.mdc-table--col-1 > section     	  { width: 100%; height: 100%; }
	
	.mdc-table tbody tr td.mdc-table--col-2 input			  { width: 60px; font-size: 14px; font-weight: 400; text-align: right; background: #eee; padding: 2px 10px 2px 4px; }
	.mdc-table tbody tr td.mdc-table--col-2 input:active,
	.mdc-table tbody tr td.mdc-table--col-2 input:focus		  { background: rgba(82,21,153, .1) !important; }
	
	
	/* Buttons */
	.mdc-table tbody tr .mdc-table--button-details		  	  { transform: translate(0, 10px); opacity: 0; color: black; transition: .32s ease-in-out; position: relative; z-index: 1; }
	.mdc-table tbody tr .mdc-button--stroked 				  { color: white !important; border-color: white !important; }

	
	/* Table Widths */
	.mdc-table .mdc-table--col-1	 	 { width: 70%; }
	.mdc-table .mdc-table--col-2	 	 { width: 30%; }
	.mdc-table .mdc-table--col-3	 	 { width: 30%; }
	.mdc-table .mdc-table--col-4	 	 { width: 30%; }


} 

/* Tablet and Desktop 
*******************************************************/
@media (min-width: 769px) { 

	/* BUTTONS CONTAINER */
	.mdc-table tbody tr .mdc-table--body-action-buttons {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	/* BUTTON: Remove */
	.mdc-table tbody tr .mdc-table--button-remove {
		background: var(--mdc-theme-dark) !important;
		color: white !important;
		font-size: 14px;
		transform: translate(-30%,-30%);
		border-radius: 100%;
		width: 32px;
		height: 32px;
		min-width: auto;
	}

	/* BUTTON: Wishlist */
	.mdc-table tbody tr .mdc-table--button-wishlist { transform: translate(0,100%); opacity: 0; transition: .22s ease-in-out; background: transparent !important; }
	.mdc-table tbody tr .mdc-table--button-wishlist:before,
	.mdc-table tbody tr .mdc-table--button-wishlist:after { background: transparent !important; }
	.mdc-table tbody tr:hover .mdc-table--button-wishlist { transform: translate(0,-10%); opacity: 1; }
	
}

/* Tablet Mode 
*******************************************************/
@media (min-width: 769px) and (max-width: 1024px) { 

	
}

/* Desktop Mode 
*******************************************************/
@media (min-width: 1025px) { 

	
}