/* MDC Image
========================================================================= */
.mdc-image { 
	text-align: center; 
	overflow: hidden; 
	width: 200px; 
	height: 200px; 
	position: relative; 
	display: block; 
	border-radius: 3px; 
}

.mdc-image:after { 
	content: "";
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .22s opacity ease-in-out;
    box-shadow: inset 0px -80px 100px -64px var(--mdc-theme-primary, #521599);
    opacity: 0; }

.mdc-image img { 
    transform: scale(1,1);
    will-change: transform;
    transition: all .22s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%; 
}