<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <title>MDC Button (Dynamic)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../oneezy-js.css">
  </head>
  
  <body class="mdc-typography">
<!-- MDC: Text Field (Dynamic)
--------------------------------------------- -->

<h1>MDC Text-field (Dynamic)</h1>

    <main>
        
        <!-- Default 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>

            <!-- Broke -->
            <section>
                <h5>Normal</h5>
                <div class="mdc-text-field-wrapper" 
                    data-input--class="mdc-text-field__input" 
                    data-input--type="text"
                    data-input--min="0"
                    data-input--max="10"
                    data-input--autocomplete="Email"
                    data-label--text="Email">

                    <input id="another-id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>

            <section>
                <h2>Text-field</h2>
                <h5>Dense</h5>
                
                <div class="mdc-text-field-wrapper" 
                    data-input--class="mdc-text-field__input mdc-text-field--dense" 
                    data-input--type="text"
                    data-input--min="0"
                    data-input--max="10"
                    data-input--autocomplete="Email"
                    data-label--text="Email">

                    <input id="specialID" class="class-name-that-gets-ERASED" type="text">
                </div>
            </section>
        </article>
        
        <!-- Required 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <section>
                <h2>Text-field (Required)</h2>
                <h5>Dense</h5>
                
                <div class="mdc-text-field-wrapper" 
                    data-input--class="mdc-text-field__input mdc-text-field--dense" 
                    data-input--type="text"
                    data-input--min="0"
                    data-input--max="10"
                    data-input--autocomplete="Email"
                    data-label--text="Email"
                    data-message--text="Enter your Email"
                    data-required="required">
        
                    <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <section>
                <h5>Normal</h5>
                
                <div class="mdc-text-field-wrapper" 
                    data-input--class="mdc-text-field__input" 
                    data-input--type="text"
                    data-input--min="0"
                    data-input--max="10"
                    data-input--autocomplete="Email"
                    data-label--text="Email"
                    data-message--text="Enter your Email"
                    data-required="required">
        
                    <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
        
                </div>
            </section>
        </article>
        
        <!-- Icons 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <section>
                <h2>Text-field (Icons)</h2>
                <h5>Dense</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="text"
                      data-input--min="0"
                      data-input--max="10"
                      data-input--autocomplete="Email"
                      data-label--icon="email"
                      data-label--text="Email"
                      data-message--text="Enter your Email">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
    
            <section>
                <h5>Normal</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input" 
                      data-input--type="text"
                      data-input--min="0"
                      data-input--max="10"
                      data-input--autocomplete="Email"
                      data-label--icon="email"
                      data-label--text="Email"
                      data-message--text="Enter your Email"
                      data-required="required">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
        </article>
        
        <!-- Box 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <section>
                <h2>Text-field Box</h2>
                <h5>Dense</h5>
                
                <div class="mdc-text-field-wrapper mdc-text-field--box" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="text"
                      data-input--min="0"
                      data-input--max="10"
                      data-input--autocomplete="Email"
                      data-label--icon="email"
                      data-label--text="Email"
                      data-message--text="Enter your Email">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                      <div class="mdc-text-field__bottom-line"></div>
                </div>
            </section>
    
            <section>
                <h5>Normal</h5>
                
                <div class="mdc-text-field-wrapper mdc-text-field--box" 
                      data-input--class="mdc-text-field__input" 
                      data-input--type="text"
                      data-input--min="0"
                      data-input--max="10"
                      data-input--autocomplete="Email"
                      data-label--icon="email"
                      data-label--text="Email"
                      data-message--text="Enter your Email"
                      data-required="required">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                      <div class="mdc-text-field__bottom-line"></div>
                </div>
            </section>
        </article>
        
        <!-- Textarea 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <section>
                <h2>Multi-line Text-fields</h2>
                <h5>Normal</h5>
                
                <div class="mdc-text-field-wrapper width-100p" 
                      data-input--class="mdc-text-field__input width-100p" 
                      data-input--type="text"
                      data-input--min="0"
                      data-input--max="10"
                      data-input--autocomplete="Email"
                      data-label--icon="email"
                      data-label--text="Email"
                      data-message--text="Enter your Email">
                    
                    <textarea id="id-that-gets-USED" class="class-name-that-gets-ERASED"></textarea>
                </div>
            </section>
        </article>
        
        
        <!-- All Types 
        ::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <article>
            <section>
                <h2>Text-field (All Types)</h2>
                <h5>Text</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="text"
                      data-input--min="0"
                      data-input--max="10"
                      data-label--text="Text">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Number</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="number"
                      data-input--min="0"
                      data-input--max="10">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Date (NEEDS WORK)</h5>
                <div class="mdc-text-field-wrapper margin-r-3" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="date"
                      data-label--text="Start Date"
                      data-label--icon="today"
                      data-label--class="mdc-text-field__label--float-above">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense mdc-text-field--focused" 
                      data-input--type="date"
                      data-label--text="End Date"
                      data-label--icon="today"
                      data-label--class="mdc-text-field__label--float-above">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Color (NEEDS WORK)</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="color"
                      data-label--text="Color">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Datetime Local</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="datetime-local"
                      data-label--text="Datetime Local"
                      data-label--class="mdc-text-field__label--float-above">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Week / Month / Time</h5>
                
                <div class="mdc-text-field-wrapper margin-r-3" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="week"
                      data-label--text="Week"
                      data-label--class="mdc-text-field__label--float-above">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
                
                <div class="mdc-text-field-wrapper margin-r-3" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="month"
                      data-label--text="Month"
                      data-label--class="mdc-text-field__label--float-above">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="time"
                      data-label--text="Time"
                      data-label--class="mdc-text-field__label--float-above">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Email</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="email"
                      data-input--min="0"
                      data-input--max="10"
                      data-label--text="Email"
                      data-message--text="Enter Your Email"
                      data-required="required">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Password</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="password"
                      data-input--min="0"
                      data-input--max="10"
                      data-label--text="Password"
                      data-message--text="Enter Your Password"
                      data-required="required">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Phone Number</h5>
                
                <div class="mdc-text-field-wrapper" 
                      data-input--class="mdc-text-field__input mdc-text-field--dense" 
                      data-input--type="tel"
                      data-input--min="0"
                      data-input--max="10"
                      data-label--text="Phone Number">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>Search</h5>
                
                <div class="mdc-text-field-wrapper" 
                     data-input--class="mdc-text-field__input mdc-text-field--dense" 
                     data-input--type="search"
                     data-label--text="Search">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
            
            <!-- ____________________________________________________________ -->
            <section>
                <h5>URL</h5>
                
                <div class="mdc-text-field-wrapper" 
                     data-input--class="mdc-text-field__input mdc-text-field--dense" 
                     data-input--type="url"
                     data-label--text="URL">
    
                      <input id="id-that-gets-USED" class="class-name-that-gets-ERASED" type="input-type-that-gets-REPLACED">
                </div>
            </section>
        </article>
    </main>
    
    <!-- <script src="../oneezy-js.js"></script> -->

    <!-- /* Libraries 
    *************************/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="mdc-textfields.js"></script>
    
    <!-- /* Data Components  
    *************************/ -->
    <!--     
    <script src="https://rawgit.com/oneezy/oneezy-js/master/components/data-clone/data-clone.js"></script>
    <script src="https://rawgit.com/oneezy/oneezy-js/master/components/data-animate/data-animate.js"></script>
    <script src="https://rawgit.com/oneezy/oneezy-js/master/components/data-bind/data-bind.js"></script>
    <script src="https://rawgit.com/oneezy/oneezy-js/master/components/data-event/data-event.js"></script> -->
    
    <!-- /* MDC Components  
    *************************/ -->
    <!--     
    <script src="https://rawgit.com/oneezy/oneezy-js/master/components/mdc-accordion/mdc-accordion.js"></script>
    <script src="https://rawgit.com/oneezy/oneezy-js/master/components/mdc-buttons/mdc-buttons.js"></script>
    <script src="https://rawgit.com/oneezy/oneezy-js/master/components/mdc-image/mdc-image.js"></script>
    <script src="https://rawgit.com/oneezy/oneezy-js/master/components/mdc-table/mdc-table.js"></script> -->
    

    </body>
 
</html>
